In [28]:
import pandas as pd
import pymongo
import os
from dotenv import load_dotenv
from tqdm.auto import tqdm

d:\MTech\Misc\Projects\MindScope\mindscope\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
mongo_user = os.getenv('MONGO_USER')
mongo_pass = os.getenv('MONGO_PASS')
mongo_cluster = os.getenv('MONGO_CLUSTER')

In [4]:
df = pd.read_csv('train.csv')
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [5]:
data = df.to_dict(orient='records')

In [24]:
len(df)

140700

In [6]:
data[0]

{'id': 0,
 'Name': 'Aaradhya',
 'Gender': 'Female',
 'Age': 49.0,
 'City': 'Ludhiana',
 'Working Professional or Student': 'Working Professional',
 'Profession': 'Chef',
 'Academic Pressure': nan,
 'Work Pressure': 5.0,
 'CGPA': nan,
 'Study Satisfaction': nan,
 'Job Satisfaction': 2.0,
 'Sleep Duration': 'More than 8 hours',
 'Dietary Habits': 'Healthy',
 'Degree': 'BHM',
 'Have you ever had suicidal thoughts ?': 'No',
 'Work/Study Hours': 1.0,
 'Financial Stress': 2.0,
 'Family History of Mental Illness': 'No',
 'Depression': 0}

## Pushing data to MongoDB

In [25]:
DB_NAME = "mental_health_mlops"
COLLECTION_NAME = "raw_data"
CONNECTION_URL = f'mongodb+srv://{mongo_user}:{mongo_pass}@{mongo_cluster}/?retryWrites=true&w=majority&appName=Cluster0'

In [20]:
## Project -> Database -> Collection (data)
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [30]:
## uploading data to MongoDB
## file size is too large.. uploading in batches
BATCH_SIZE = 500
for i in tqdm(range(0, len(data), BATCH_SIZE)):
    collection.insert_many(data[i:i+BATCH_SIZE])

100%|██████████| 282/282 [07:59<00:00,  1.70s/it]